img {
    width: 280px;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

body {
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container-fluid {
    padding: 0px;
}

#my_camera {
    margin: 40px auto;
}

video {
    display: block;
    margin: 0 auto;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20PX;
}

.row {
    width: 100%;
    padding-top: 100px;
}

#myTab li {
    width: 100%;
    border: none;
}

#myTab a {
    margin: 0;
}

.TAB {
    height: 330px;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid gainsboro;
    border-top: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-signin {
    padding-top: 80px;
}

#username,
#inputPassword,
#Signin {
    margin: 0px auto;
    width: 70%;
}

#inputPassword {
    margin-top: 30px;
}

#Signin {
    margin-top: 30px;
}

li a {
    text-align: center;
}

.CAM {
    border: 1PX solid #CCCCCC;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    margin: 0;
    padding-top: 130px;
    text-align: center;
    padding-bottom: 67px；
}
