<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AMiner - Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/css/style_newresult.css" rel="stylesheet">
</head>

<body style="background-color: #f5f5f5">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">SOA Homework 3</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Sign up</a></li>-->
                    <li> Title </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container-fluid container-center">
        <div class="row">
            <div class="col-md-4" style="background-color: #f5f5f5;"></div>
            <div class="col-md-4">
              <li> {{age}} </li>
              <li> {{gender}} </li>
              <li> {{smile}} </li>
              <li> {{emotion}} </li>
            </div>
        </div>
    </div>
</body>

</html>
